# Loops

In [16]:
students = ["Jahangir", "AHmed", "waqas", "arbab", "omer", "raza", "shaikh"]

In [17]:
for student in students:
    print(student)

Jahangir
AHmed
waqas
arbab
omer
raza
shaikh

In [18]:
for student in students:
    if student == "waqas":
        print(f"{student} bahir jao")
    else:
        print(f"{student} andar ajao")

Jahangir andar ajao
AHmed andar ajao
waqas bahir jao
arbab andar ajao
omer andar ajao
raza andar ajao
shaikh andar ajao

In [20]:
for a in "Pakistan":
    print(a, end = ' ')

P a k i s t a n

In [21]:
for num in range(10):
    print(num, end = ' ')

0123456789

In [58]:
userInput = int(input("Enter a number to generate it's table:"))
for x in range(1,11):
    print(f'{userInput} X {x} = {userInput*x}')

Enter a number to generate it's table:5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [38]:
for x in range(1,11,2):
    print(x)

1
3
5
7
9

In [42]:
for x in range(25, 0, -1):
    print(x, end = " ")

25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [43]:
#Continue
userInput = int(input("Enter a number to generate it's table:"))
for x in range(1,11):
    if x%2 == 0:
        continue
    else:
        print(f'{userInput} X {x} = {userInput*x}')

Enter a number to generate it's table:5
5 X 1 = 5
5 X 3 = 15
5 X 5 = 25
5 X 7 = 35
5 X 9 = 45

In [44]:
#break
userInput = int(input("Enter a number to generate it's table:"))
for x in range(1,11):
    if x%2 == 0:
        break
    else:
        print(f'{userInput} X {x} = {userInput*x}')

Enter a number to generate it's table:2
2 X 1 = 2

In [ ]:
bestfriends = []
friends = []
for num in range(0,6):
    nameInput= " "
   
    nameInput = input("Enter your name:")
    
    if nameInput.startswith('a') or nameInput.startswith('s') or nameInput.startswith('d'):
        bestfriends.append(nameInput)
    else:
        friends.append(nameInput)
    
print(f"Best Friends:{bestfriends}")
print(f"Friends:{friends}")

Enter your name:4

# Nested For Loop

In [54]:
for a in [1,2,3]:
    for b in "Jadi":
        print(a,b)

1 J
1 a
1 d
1 i
2 J
2 a
2 d
2 i
3 J
3 a
3 d
3 i

In [5]:

for x in range(1,6):
    
    for y in range(1,6):
         print(f'{x} X {y} = {x*y}')
            
    print("\n")

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5


2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10


3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15


4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20


5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25

# List Comprehension

In [7]:
a= [1,2,3,4,5,6,7,8,9]
squares = []
for num in a:
    squares.append(num**2)
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
[num**2 for num in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
[num**2 for num in range(1,10) if num>4]

[25, 36, 49, 64, 81]